<%- include("partials/header") %>
<%- include("partials/navbar") %>
    <ul>
        <% for(let items of todo){%>
            <li><%= items %> </li>
        <%}%> 
    </ul>
    
    <div>Lorem <%=randomNum %>  ipsum dolor sit amet consectetur, adipisicing elit. Illo molestiae corrupti exercitationem perspiciatis nobis, voluptatum labore, fugit, vitae excepturi sint doloribus itaque modi cumque veniam? Autem quod voluptas voluptates nulla.</div>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo molestiae corrupti exercitationem perspiciatis nobis, voluptatum labore, fugit, vitae excepturi sint doloribus itaque modi cumque veniam? Autem quod voluptas voluptates nulla.</div>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo molestiae corrupti exercitationem perspiciatis nobis, voluptatum labore, fugit, vitae excepturi sint doloribus itaque modi cumque veniam? Autem quod voluptas voluptates nulla.</div>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo molestiae corrupti exercitationem perspiciatis nobis, voluptatum labore, fugit, vitae excepturi sint doloribus itaque modi cumque veniam? Autem quod voluptas voluptates nulla.</div>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo molestiae corrupti exercitationem perspiciatis nobis, voluptatum labore, fugit, vitae excepturi sint doloribus itaque modi cumque veniam? Autem quod voluptas voluptates nulla.</div>
<%- include("partials/footer") %>